.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

:fullscreen .time-input,
:fullscreen .timer-controls,
:fullscreen .fullscreen-button {
  display: none;
}